* text eol=lf

*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.webp -text
*.ico -text
*.woff -text
*.woff2 -text
*.ttf -text
*.otf -text
*.wasm -text
*.zip -text
*.gz -text
*.tgz -text
*.exe -text
*.dll -text
*.so -text
*.dylib -text
*.bin -text
